@{
    ViewData["Title"] = "Hồ sơ cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-5" style="margin-top: 80px;">
    <h1 class="font-playfair text-gold">Hồ sơ cá nhân</h1>
    <p>Chào @User.FindFirst("FullName")?.Value, đây là thông tin tài khoản của bạn.</p>
</div>